/* body{
    background-color: #eeeeee;
} */
/* .row{
    background: #eeeeee;
    margin-top:-70px;
} */
.img-late{
    margin-top: 50px;
    border: 5px solid #ff7e5f;
    border-radius: 50%;
    margin-left: 20%;
}
.andalworks{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.title{
    text-align: center;
    display: block;
}
.title-employee{
    color:red;
    font-weight: bold;
}
.title-badge{
    font-size: 100px;
}
.box-present{
    margin-left: 70px;
}
.box{
    cursor: pointer;
    float: left;
    background: #ff7e5f;
    margin-top:25px;
    padding: 30px 30px 30px 30px;
    border-radius: 2px;
    color:white;    
}
.box:hover{
    background: #ff7e5f !important;
}
.title-city{
    font-size: 50px;
}
.employee{
    text-align: center;
}
.color-late{
    color:#ff7e5f;
}
/* color:#00e640; */
/* .text-title{
    font-size: 30px;
    color: #fff;
    position: relative;
  max-width: 200px;
  height: auto;
  background: linear-gradient(-45deg,#22c1c3,#fdbb2d);
  border-radius: 5px;
  margin-top: -30px;
  margin-left: 150px;
  padding: 10px 10px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
} */