.card{
    border: 10px solid #fff;
    box-shadow: none;
}
.card-sick{
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #99CC66;
}
.card-name{
    background: #fff;
}
.box-sick{
    background: white;
}
.card-noinfo{
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #C2F1F5;
}
.card-leave{
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #F3B0B5;
}
.content{
    margin-top: 50px;
}
