.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  background-color: #FFF6D6;
}

/* .row{
  background: #FFF6D6;
  margin-top:-70px;
} */
.img-checkIn{
  /* margin-top: 10px; */
  /* padding-bottom: 50px; */
  /* padding-top:-80px; */
  /* border: 5px solid #70BE61; */
  border-radius: 20%;
  /* margin-left: 20%; */
}
.img-late{
  margin-top: 50px;
  border: 5px solid  #F3B0B5;
  border-radius: 20%;
}
.img-absent{
  margin-top: 50px;
  border: 5px solid #EE4444;
  border-radius: 20%;
  /* margin-left: 20%; */
}

.andalworks{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 30px;
}
.tanggal{
  margin-top: 50px;
  margin-bottom: 50px;
}
.parent-card{
   
  padding: 16px;
  /* text-align: center; */
  /* margin-left: 100px; */
  color:#F7971E;
  border-radius: 10px;
  /* width: 50%; */
  /* max-height: 100px; */
  /* background: grey; */
  /* max-height: 300px; */
  /* max-height: 100px; */
  /* display: block; */
  /* width: 100%; */
  /* max-width: 100px; */
  /* text-align: center; */
  background:transparent;
  border: 1px solid #F7971E;
  /* padding-left: 66px; */
  /* float: left; */
}
.child-card{
  /* background: #FF743D; */
  /* background: #f7ca18; */
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  border-radius: 30px;
}
.box-depart{
  font-size: 20px;
  /* background: red; */
}

.boxWhite{
  /* border: 2px solid #70BE61; */
  /* position: relative; */
  /* max-width: 500px !important;
  max-width: 100px; */
  /* height: auto; */
  /* border-radius: 15px; */
  /* width: 80%; */
  /* margin: 100px auto; */
  padding: 40px 20px;
  color:white;
  text-align: center;
  /* width: 50%; */
  /* margin-left: 10px;
  padding-top: 50px; */
  padding-bottom: 50px;
  /* float: left; */
  background:  #61dafb;
  /* background:  #ffffff; */
  /* background: linear-gradient(-45deg,#ECE9E6,#FFFFFF); */
  box-shadow: none;
  /* border-radius: 30px; */
}
.chart{
  width: 100px;
}
.color-absent{
  color: #EE4444;
}
.color-late{
  color: #000000;
}
.title{
  font-size: 20px;
  color: #F7971E;
  /* text-align: center; */
  /* display: block; */
}
.title-employee{
  margin-top: 50px;
  color:#000;
  font-weight: bold;
  /* font-size: 50px; */
}
.title-badge{
  font-size: 100px;
}
.title-attand{
  float: left;
  /* padding-left: 10px; */
}

.title-persent{
  float: right;
  /* padding-left: 0px; */
  /* margin-right: 50px; */
}
.title-persent sup{
  font-size: 30px;
}
.box-present{
  margin-left: 70px;
  color: #70BE61;
}
.BigBox{
  background: #70BE61;
  margin-top:30px;
  /* padding: 25px 25px 25px 25px;  */
  width: 100%;
  /* height: 100px !important; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 2px;
  color:white;    
}
.box:hover{
  background: #1D976C;
}
.row{
  /* background: #1D976C; */
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
}
.title-city{
  font-weight: bold;
  font-size: 50px;
  color: #F7971E;
  margin-bottom: 50px;
}
.employee{
  font-size: 25px;
  /* margin-top: 60px; */
  /* text-align: center; */
  color: #F7971E;
  /* padding-top: 80px; */
  /* padding-bottom: 80px; */
}
.title-depart{
  /* margin-top: 10px; */
  font-size: 25px;
  margin-left:10px;
  color: #0F2027;
}
.color-checkIn{
  color:#70BE61;
}
.color-late{
  color:#F3B0B5;
}
/* CSS CHECK-OUT */
.img-checkOut{
  margin-top: 50px;
  border: 5px solid #e73827;
  border-radius: 20%;
  /* margin-left: 20%; */
}
.box-late{
  float: left;
  background: #F3B0B5;
  margin-top:10px;
  padding: 25px 25px 25px 25px;
  border-radius: 2px;
  color:white;    
}
.box-absent{
  float: left;
  background: #EE4444;
  margin-top:10px;
  padding: 25px 25px 25px 25px;
  border-radius: 2px;
  color:white;    
}
.title-checkOut{
  margin-left: 70px;
}

.title-late{
  margin-left: 70px;
  color: #F3B0B5;
}
.title-absent{
  margin-left: 70px;
  color: #EE4444;
}
.color-checkOut{
  color:#e73827;
}
.card-text{
  color: #F7971E !important;
}
.card-reason{
  background: #fff;
  border: 10px solid #fff;
  box-shadow: none;
}
.card-sick{
  border-radius: 5px;
  padding-top: 20px;
  /* padding-bottom: 20px; */
  background: #99CC66;
}
.card-name{
  background: #fff;
}

.card-noinfo{
  border-radius: 5px;
  padding-top: 20px;
  /* padding-bottom: 20px; */
  /* max-height: 800px; */
  background: #C2F1F5;
}
.card-leave{
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #F3B0B5;
}
.content{
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .img-checkIn{
      width:100px;
  }
}
/* color:#00e640; */
/* .text-title{
  font-size: 30px;
  color: #fff;
  position: relative;
max-width: 200px;
height: auto;
background: linear-gradient(-45deg,#22c1c3,#fdbb2d);
border-radius: 5px;
margin-top: -30px;
margin-left: 150px;
padding: 10px 10px;
-webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
        box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
